.sidebar-main{
    max-height: 920px;
}


.main-bd{
   
    /* max-height: 970px; */
    /* min-height: 970px; */
    background-color: #F5F6F8;

}


@media only screen and (min-width: 1920px) {
   
    .main-bd{
            min-height: 1130px;

    }
    
  }