



.screen-height{
            background-color:#E7E9EE ;
            padding: 15px;

}

@media screen and (min-width: 1920px) {
   
    .screen-height{
        height:889px;
        padding: 23px !important;

    }
  }
@media screen and (min-width: 2560px) {
    
    .screen-height{
        height:889px;
        padding: 30px !important;

    }
  }



