.logo{
  width: 38px;
  height: 33px;
  cursor: pointer;
}


.profile {
  margin-top: 2px;
  padding: 8px;
  cursor: pointer;
}


.notification{
  width: 30px;
  height: 30px;
  padding: 8px;
  cursor: pointer;
}

.help-icon{
  padding: 8px;
  color: #415A6C;
  cursor: pointer;
}
.helpdown-icon{
  margin-top: 11px;
  margin-left: -12px;
  cursor: pointer;
}


.search-icon{
  width: 25px;
  height: 25px;
  align-items: center;
  margin-right: 14px;
  margin-top: 6px;
}
  .profile-logut{
    margin-top: 10px;
    margin-left: -3px;
  }
  .profile-logout-title{
    background-color: white !important;
    gap: 8px;
  }
  .profile-logout-title :hover{
    color: red !important;
    
  }