

 .sidebar-header{
    display: flex;
    border: 1px solid;
    border-radius:5px 5px ;
    padding: 8px 12px 8px 12px;
    background-color:#466072 ;
    color: #fff;
    align-items: center;
    width: auto;
    margin-inline: 15px;
    gap: 8px;
    cursor: pointer;
    
} 

.qube-icon{
    height: 14px;
    margin-top: 1px;
}

.qube-icon2{
    height: 14px;
    margin-top: 1px;
    color: #415A6C !important;
    /* background-color: #415A6C !important; */
}

.grid-icon1{
   /* margin-right: 10px; */
   /* margin-top: 1px; */
   font-size: 18px !important;
}

.grid-icon{
   margin-right: 10px;
   margin-top: 4px;
   font-size: 18px !important;

}
.alert-icon{
    margin-left: -2px !important;
    margin-right: 3px;
    margin-top: -3px;
    font-size: 18px !important;


}
.S-h2{
    display: flex;
    border-radius:5px 5px ;
    /* padding:  4px 12px !important; */
    background-color:#E7E9EE ;
    margin-top: 7%;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: auto;
    margin-inline: 15px;

}

.play-icon{
    height: 14px;
}

 .sidebar-header2{
    display: flex;
    border-radius:5px 5px 0px 0px;
    background-color:#7E919F;
    color: #E7E9EE;
    padding: 8px 12px 8px 12px;
    align-items: center;
    cursor: pointer;
    font-style: normal;
    width: auto;
    margin-inline: 15px;
    margin-top: 7%;
    gap: 6px;


} 

.down-icon{
    height: 16px;
}

.S-h21{
    padding: 8px 12px 8px 12px;
    background-color:#E7E9EE ;
    border-bottom: 1px solid #B7C3CA;
    font-style: normal;
    width: auto;
    margin-inline: 15px;
    gap: 8px;

}

.S-h22{
    padding: 8px 12px 8px 12px;
    background-color:#E7E9EE ;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 0px 0px #B7C3CA;
    width: auto;
    margin-inline: 15px;
    display: flex;
    flex-direction: row;
}

.dotted-line{
    padding: 8px 12px 8px 12px;
    border-bottom: 1px dashed #B7C3CA;
    width: auto;
    margin-inline: 15px;
}

.logout-icon{
height: 20px;   
margin-top: 1px;
}

.css-ahj2mt-MuiTypography-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    font-size: 14px !important;
}



.log-special{
    display: flex;
    border-radius:5px 5px ;
    padding: 8px 12px 8px 12px;
    background-color:#E7E9EE ;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    width: auto;
    margin-inline: 15px;

}


.sidebar {
    background-color: #fff;
    font-style: normal;
    font-size: 14px;
    color: #415A6C;
    border: 1px solid #fff;
    height: 100% !important;
  
  }

.logs-out{
    display: flex;
    background-color:#E7E9EE ;
    border-radius: 5px;
    padding: 8px 16px;
    width: 165px;

}
.css-yw020d-MuiAccordionSummary-expandIconWrapper{
    transform: rotate(-90deg) !important;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded{
    transform: rotate(0deg) !important;

}
@media (width > 1023px) and (width < 1200px) {
    
}
@media (width > 1200px) and (width < 1440px) {
   
/*     
    .acrdn-s{
        background-color:#E7E9EE  !important;
        height: 37px !important;
        border-radius: 5px !important;
        color: #415A6C !important;
    } */
   
    .acrdn-main {
        background-color:#E7E9EE  !important;
        border-radius: 5px 5px 5px !important;
    }
}

@media (width > 1439px) and (width < 1537px) {
    /* .acrdn-s{
        background-color:#E7E9EE  !important;
        height: 37px !important;
        border-radius: 5px !important;
        color: #415A6C !important;
    } */
    
    .acrdn-main {
        background-color:#E7E9EE  !important;
        border-radius: 5px 5px 5px !important;
    }
}


/* media 1920px....................................................................................... */
@media screen and (min-width: 1920px) {

    /* .acrdn-main .css-ck8r11-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
        min-height: 0px !important;
    } */
    
.grid-icon1{
    /* margin-right: 10px; */
    margin-top: -1px !important;
    font-size: 18px !important;
    margin-left: 2px !important;
 }
 
 .grid-icon{
    margin-right: 10px;
    margin-top: 4px;
    font-size: 18px !important;
 
 }
 .alert-icon{
     margin-left: 2px !important;
     margin-right: 3px;
     margin-top: -3px;
     font-size: 18px !important;
 
 
 }
    .s-h2{
        display: flex;
        border-radius:5px 5px ;
        padding:  12px 12px !important;
        background-color:#E7E9EE ;
        margin-top: 7%;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        width: auto;
        margin-inline: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    
    }

   .logs-out{
    padding: 12px;
    width: 258px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);


   }
   
.logout-icon{
    margin-right: 14px !important;
}
.logsout-titile{
    font-size: 14px !important;
}

  
 
   .acrdn-s{
    background-color:#E7E9EE  !important;
    /* height: 45px !important; */
    border-radius: 5px !important;
    color: #415A6C !important;
}


.acrdn-main {
    background-color:#E7E9EE  !important;
    border-radius: 5px 5px 5px !important;
}

}


/* media 2560px............................................................................................. */

@media (width > 2559px) {

    .grid-icon1{
        /* margin-right: 10px; */
        margin-top: -1px;
        font-size: 22px !important;
     }
     
     .grid-icon{
        margin-right: 10px;
        margin-top: 6px;
        font-size: 22px !important;
     
     }
     .alert-icon{
         margin-left: -2px !important;
         margin-right: 3px;
         margin-top: -3px;
         font-size: 22px !important;
     
     
     } 
    .logs-out{
    padding: 16px;
    width: 360px;

   }
   .logsout-titile{
    font-size: 22px !important;
  }

   .s-h2{
    padding: 16px !important;
    height: 35px;
    font-size: 32px;
   }
   .sidebar-title{
    font-size: 86px !important;
    /* background-color: rebeccapurple !important; */
   }

   
.acrdn-main {
    background-color:#E7E9EE  !important;
    border-radius: 5px 5px 5px !important;
    /* border: 1px solid red; */
    /* height: 60px; */
}

.acrdn-s{
    background-color:#E7E9EE  !important;
    /* height: 60px !important; */
    border-radius: 5px !important;
    color: #415A6C !important;
}
.sidebar-minititle{
    font-size: 20px !important;
}
}
