.carouselcls.css-ohwg9z .css-1abc02a {
    top: 98px !important;
    margin-inline: 670px;
}
.carouselcls.css-ohwg9z .css-hn784z {
    top: 98px !important;
    margin-inline: 670px;

}

.carouselcls.css-ohwg9z .css-e8vs8u {
    opacity: 0.3 !important;
    background-color: "415A6C";

}
.carouselcls.css-ohwg9z .css-ktslay-MuiButtonBase-root-MuiIconButton-root {
    background-color: "415A6C" !important;
    opacity: 0.3 !important;

}

.carouselcls.css-ohwg9z button {
    margin-bottom: 17px !important;
}