table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* border-radius: 1px solid red; */
}
th {
  text-align: left;
  padding: 10px;
  /* border: 1px solid red; */
  /* border-collapse: collapse; */
}

td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 10px;
  /* width: 12px; */
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.click:hover {
  background-color: aqua;
}
