.MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-spacing-xs-3 MuiGrid-grid-xs-12 css-1906fj0-MuiGrid-root {
    display: block !important;
}



/* .css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) option,
 .css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) optgroup ::after{
    background-color: red !important;
} */

@media (width > 1919px) {

    .css-6hp17o-MuiList-root-MuiMenu-list {
        list-style: none;
        margin: 0px;
        padding: 0;
        position: relative;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        width: 235px;
     

}

.filterdropdown-insidebtn{
    display: flex;
    justify-content: space-around !important;
    /* width: 100% !important; */

}
.btn-apply{
    height: 24px !important;
    text-transform: none !important;
}
.btn-cancel{
    height: 24px !important;
    text-transform: none !important;
}

.btn-apply:hover{
    
    background-color: #FF007E !important;
}

.btn-cancel:hover{
    background-color: #415A6C !important;
}



}