.MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-spacing-xs-3 MuiGrid-grid-xs-12 css-1906fj0-MuiGrid-root {
    display: block !important;
}





@media screen and (min-width: 1920px) {

    .ragfilter-title{
        color: #415A6C;
        /* margin-block: 5px; */
    }
    .ragfilter-title.first{
        color: #415A6C;
        padding: 0px 9px;
    }
    .grag{
        width: 25px;
        height: 25px;
        text-align: center;
        margin: auto;
        
    }

    .css-6hp17o-MuiList-root-MuiMenu-list {
        list-style: none;
        margin: 0px;
        padding: 0;
        position: relative;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        width: 235px;
     

}

.filterdropdown-insidebtn{
    display: flex;
    justify-content: space-around !important;

}
.btn-minibtns{
    height: 24px !important;
    text-transform: none !important;
}


.btn-minibtns:hover{
    
    background-color: #FF007E !important;
}





}

@media screen and (min-width: 2560px) {

    .ragfilter-title{
        color: #415A6C;
    
    }
    .ragfilter-title.first{
        color: #415A6C;
        padding: 0px 9px;
    
    }
    .grag{
        width: 25px;
        height: 25px;
        text-align: center;
        margin: auto;
        
    }

    .css-6hp17o-MuiList-root-MuiMenu-list {
        list-style: none;
        margin: 0px;
        padding: 0;
        position: relative;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        width: 235px;
     

}

.filterdropdown-insidebtn{
    display: flex;
    justify-content: space-around !important;

}
.btn-apply{
    height: 24px !important;
    text-transform: none !important;
}
.btn-cancel{
    height: 24px !important;
    text-transform: none !important;
}

.btn-apply:hover{
    
    background-color: #FF007E !important;
}

.btn-cancel:hover{
    background-color: #415A6C !important;
}



}