/* .overviewHighRisk{
  border: 1px solid red;
} */

.overviewHighRisk-main{
  /* border: 1px solid red; */
 background-color: #F5F6F8;
 min-height: 920px;
}


/* mt={-1}
            sx={{
              display: "flex",
              flexDirection: "row",
              justifyContent: "right",
            }} */

.btn-generateList{
    display: flex;
    flex-direction: row;
    justify-content: right;
}




/* 
.css-ahj2mt-MuiTypography-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    font-size: 14px !important;
} */


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* border-radius: 1px solid red; */
  }
  th {
    text-align: left;
    padding: 10px;
    /* border: 1px solid red; */
    /* border-collapse: collapse; */
  }
  
  td {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 10px;
    /* width: 12px; */
  }
  
  /* tr:nth-child(odd) {
    background-color: white !important;
  } */
  
  .click:hover {
    background-color: aqua;
  }
  


  .h-m{
    margin-left: 75px;
  }
  .ctr{
    text-align: center;
  }

  


  .react-tabs__tab--selected{
    background: none !important;
    background-color: #415A6C !important;
    /* border-radius: 5px !important; */
    /* border-bottom: none !important; */
  }


  
  @media screen and (min-width: 1920px) {
    .bg-containerOHR {
      background-color: #F5F6F8;
      padding: 10px !important;
      height: 889px !important ;
    }
    .ohr-stack{
      width: 420px;
      justify-content: space-between;  
      margin-top: -6px;
      margin-left: 401px; 
     }
    
    /* .css-7mt4h1-MuiInputBase-root .MuiInputBase-input{
      width: 19ch !important;
 } */
 /* .css-7mt4h1-MuiInputBase-root .MuiInputBase-input:focus{
  width: 19ch !important;
 } */

    .formcontrol-box{
      margin-left: -80px !important;
      margin-top: -12px !important;
    }

    
  
   .btn-exp{
    font-size: 14px !important;
    background-color: #415A6C !important;
   }

   .filter-inside-title{
    font-size: 21px !important;
   }
   .search-align{
    margin-top: 8px !important;
  }
  
  .nestedbtn-filters{
    background-color: #415A6C !important;
    color: white !important;
    font-size: 20px !important;
    border-radius: 5px ;
    width: 150px !important;
    height: 47px !important;
    margin-top: 5px !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex!important;
  }
  .nestfilter-title{
  }
  .css-jh47zj-MuiButtonBase-root-MuiButton-root {
    font-size: 23px !important;
    margin-top: 6px !important;
    background-color: #415A6C !important;
    height: 47px !important;
  }

  .mainMenu {
    font-size: 23px !important;
  }

  .ohr-rightbox .css-7mt4h1-MuiInputBase-root .MuiInputBase-input {
    font-size: 12px;
    margin-top: 0px;
    padding-left: 24px !important;
  }
   

 .css-eiibem-MuiTableCell-root {

       border-bottom: none !important;
 }

 .css-15wwp11-MuiTableHead-root {
  background:  #415A6C !important;
 }

 .css-1q1u3t4-MuiTableRow-root {
  height: 55px !important;
 }
 /* tr:nth-child(odd) {
  height: 55px !important;
 } */

 .ohr-rightbox{
  display: flex;
  width: 400px;
  justify-content: space-between ;
  align-items: center;
  align-self: center;
 }
 .search-icon2{
  width: 28px;
  height: 28px;
  align-items: center;
  margin-right: 14px;
  margin-top: -10px;
} 
.search-icon2 {
   margin-top: 0px;
}

 .serch-name input {
  width: 19ch !important;
  height: 10px !important;
  font-size: 12px;
  margin-top: 1px;
  padding-left: 24px !important;
 }
 
}