.multicolor {
  /* background-color: black; */
  background: linear-gradient(90deg, #FF007F 7.83%, #FF007F 47.51%, #FF593D 87.2%);
  border-radius: 8px;
  padding: 5px;
  color: white;

}

/* .logoutSpace {
  margin-top: 870px !important;
} */

 @media only screen and (min-width: 2560px) {
  .os {
    /* background-color: yellow; */
    font-size: 38px !important;
  }
} 

