.multicolor {
  /* background-color: black; */
  background: linear-gradient(90deg, #FF007F 7.83%, #FF007F 47.51%, #FF593D 87.2%);
  border-radius: 8px;
  padding: 5px;
  color: white;
  /* margin-top: -20px; */

}

.we{

}

/* .logoutSpace {
  margin-top: 870px !important;
} */

@media screen and (min-width: 1920px) {
  .css-1yn0t5k-MuiTypography-root {
    width: 9.2857% !important;
    line-height: 57px;
}

.welcome-title{
  margin-left: 20px !important;
  margin-top: -5px !important;
}
.welcome-contname{
  margin-left: 20px !important;
}
} 