.status{
    display: flex;
    justify-content: space-between;
    /* margin-top: 1%; */
    padding: 1%;
    /* font-size: 128px; */

}



.btn-alert{
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px ;
    align-items: center;
    text-align: center;
    font-size: 14px;
    background-color: #fff; 
    height: 17px;
    /* margin-inline: 5px; */
    padding: 3px 4px 5px 4px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    cursor: pointer;
}
.alt-icon{
    height: 18px;
    margin-top: 2px;
    /* padding: 1px; */
    /* align-items: center; */
}

.error-icon{
    height: 48px;
    width: 48px;
}
