.status{
    display: flex;
    justify-content: space-between;
   

}

.s-crd{
    cursor: pointer !important;
}


.btn-alert{
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px ;
    align-items: center;
    text-align: center;
    font-size: 14px;
    background-color: #fff; 
    height: 17px;
    /* margin-inline: 5px; */
    padding: 3px 3px 4px 3px;
    margin-top: 13px;
    /* margin-bottom: 12px; */
    cursor: pointer;
}
.alt-icon{
    height: 18px;
    margin-top: 2px;
    /* padding: 1px; */
    /* align-items: center; */
}

.error-icon{
    height: 48px;
    width: 48px;
}

.seeAllIcon{
    background-color: #FF007F;
    border-radius: 50px;
    color: white;
    width: 18px !important;
    height: 18px !important;
}

.status-cardshead{
    display: flex;
    border-bottom: 2px solid #dcdcdc !important;
    height: 77px;
    align-items: center;
}
.po-miniheader{
    /* border: 1px solid; */
    /* background-color: aqua; */
    margin-block: 5px;
    padding: 0px 35px;
    border-radius: 5px;
}

.cs-cardsheader{
    display: flex;
    align-items: center;
    height: 70px;
}