.css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) option, .css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input:not([multiple]) optgroup{
    border-radius: 0px !important;
}




.flt-grid{
  align-self: center;
}
  .filter-boxmain{
    justify-content: space-around;     
    display: flex;
    margin-top: -8px;
    margin-right: 25px;
  }

  
  .filter-buttons{
    background-color: #415A6C !important;
    text-transform: initial !important;
    height: 30px !important;
  }

  .filter-buttons:hover{
    background-color: #FF007F !important;

  }

 

 

  

  


  

  @media screen and (min-width: 1920px) {
   
    
    
    .filter-title{
      font-size: 23px !important; 
    }

    

  .filter-inside-title{
    font-size: 23px !important;
  }


    .btn-fltr{
      padding: 5px 10px;
    }

    .btn-filter-title{
      font-size: 16px !important;
    }
  }
  @media screen and (min-width: 2560px) {
   
    
    .filter-main{
      margin-top: 5px;

    }
    .filter-title{
      font-size: 28px !important; 
    }

    .btn-filters{
      /* width: 200px !important; */
      margin-left: 200px !important;
      display: flex;
      justify-content: space-evenly;  
      align-items: center;
      align-self: center;
      padding: 5px 20px !important;
     
  }
   

  .filter-inside-title{
    font-size: 23px !important;
  }


    .btn-fltr{
      padding: 5px 10px;
    }

    .btn-filter-title{
      font-size: 16px !important;
    }
  }

  