.pln-cards-header{
  border-radius: 5px 5px;
  background-color:rgb(65, 90, 108); ;
  padding: 5px  10px;
}

.pln-card-bd{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}

.pln-card-bd12{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
.pln-card-bd21{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
.pln-card-bd222 {
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
.pln-card-bd41{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
/* .pln-card-bd43{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
.n{

} */
.pln-card-bd:hover{
  
  color: #fff;
  background-color: rgb(255, 0, 126);
}
.pln-cards-cnt{
  display: flex;
  align-items: center;
}
.square-icon {
  width: 25px;
  height: 25px;
}



.pln-card-bd42{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:20px 10px 20px 10px ;
  cursor: pointer;

}
.pln-card-bd42:hover {
  /* background-color: #ff007e; */
  color: #fff;
}




.pln-card-bd-L:hover{
  /* background-color: #ff007e; */
  color: #fff;

}
.pln-card-bd-L{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:12px 10px 20px 10px ;
  cursor: pointer;
  /* background-color: #ff007e; */
  /* color: #fff; */

}

/* @media (min-width:1536px) {
  .plan{
      
  }
  
  .plan-title{
    font-size: 1.2rem !important;
  }
 
} */

.market-badge .MuiBadge-badge {
  margin-top: -10px !important;
  margin-right: -78px !important;
  background-color: #FF007F;
  color: #fff;
}
.scenario-badge .MuiBadge-badge {
  margin-top: -10px !important;
  margin-right: -82px !important;
  background-color: #FF007F;
  color: #fff;
}
.sku-badge .MuiBadge-badge {
  margin-top: -10px !important;
  margin-right: -90px !important;
  background-color: #FF007F;
  color: #fff;
}
.smartstock-badge .MuiBadge-badge {
  margin-top: -12px !important;
  margin-right: -42px !important;
  background-color: #FF007F;
  color: #fff;
}
.systamatic-badge .MuiBadge-badge {
  /* margin-top: 2px !important; */
  margin-right: -57px !important;
  background-color: #FF007F;
  color: #fff;
}

@media (width > 1023px) and (width < 1200px) {
    
}
@media (width > 1200px) and (width < 1440px) {
   
  .pln-card-bd:hover{
    /* background-color: #ff007e; */
    /* background-color: #00A6A5 !important; */
    color: #fff;
  }
}

@media (width > 1439px) and (width < 1537px) {
    
}
@media (width > 1919px) {
  .market-badge .MuiBadge-badge {
    margin-top: -15px !important;
    margin-right: -264px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .scenario-badge .MuiBadge-badge {
    margin-top: -15px !important;
    margin-right: -304px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .sku-badge .MuiBadge-badge {
    margin-top: -15px !important;
    margin-right: -354px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .smartstock-badge .MuiBadge-badge {
    margin-top: -11px !important;
    margin-right: -140px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .systamatic-badge .MuiBadge-badge {
    margin-top: -15px !important;
    margin-right: -354px !important;
    background-color: #FF007F;
    color: #fff;
  }

  .pln-cards-header{
    text-align: center !important;
  }
  
}

@media (width > 2559px) {
  .plan-title{
      font-size: 26px !important;
  }
  .plan-minititile{
    font-size: 18px !important;
  }
}