.pln-cards-header{
  border-radius: 5px 5px;
  background-color:#00A6A5 ;
  padding: 5px  10px;
}
.pln-card-bd{
  
  padding:20px 10px 20px 10px ;
  border-radius: 5px 5px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-block: 5%;
  cursor: pointer;

  
}
.pln-card-bd:hover{
  /* background-color: #ff007e; */
  color: #fff;
}
.pln-cards-cnt{
  display: flex;
  align-items: center;
  /* color: rebeccapurple; */
}
.square-icon {
  width: 25px;
  height: 25px;
  /* color: red; */
}

.pln-card-bd22{
  display: flex;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:12px 8px 11px 8px ;
  cursor: pointer;

}
.pln-card-bd22:hover{
  /* background-color: #ff007e; */
  color: #fff;
}

.pln-card-bd42{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:20px 10px 20px 10px ;
  cursor: pointer;
  /* background-color: #ff007e; */
  /* color: #fff; */

}
.pln-card-bd42:hover {
  /* background-color: #ff007e; */
  color: #fff;
}

/* .pln-card-bd43{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:20px 10px 20px 10px ;
  cursor: pointer;
  margin-top: 20px;

}
.pln-card-bd43:hover {
  background-color: #ff007e;
  color: #fff;
} */


.pln-card-bd-L:hover{
  /* background-color: #ff007e; */
  color: #fff;

}
.pln-card-bd-L{
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  background-color: #fff;
  align-items: center;
  padding:12px 10px 20px 10px ;
  cursor: pointer;
  /* background-color: #ff007e; */
  /* color: #fff; */

}

/* @media (min-width:1536px) {
  .plan{
      
  }
  .pln-cards-header{
    padding: 8px 20px !important;
  }
  .plan-title{
    font-size: 1.2rem !important;
  }
 
} */

.market-badge .MuiBadge-badge {
  transform: rotate(45deg); /* Rotate the badge */
  margin-top: 31px !important;
  margin-right: -103px !important;
  background-color: #FF007F;
  color: #fff;
}
.scenario-badge .MuiBadge-badge {
  transform: rotate(45deg); /* Rotate the badge */
  margin-top: 31px !important;
  margin-right: -107px !important;
  background-color: #FF007F;
  color: #fff;
}
.sku-badge .MuiBadge-badge {
  transform: rotate(45deg); /* Rotate the badge */
  margin-top: 31px !important;
  margin-right: -115px !important;
  background-color: #FF007F;
  color: #fff;
}
.smartstock-badge .MuiBadge-badge {
  transform: rotate(45deg); /* Rotate the badge */
  margin-top: 31px !important;
  margin-right: -65px !important;
  background-color: #FF007F;
  color: #fff;
}
.systamatic-badge .MuiBadge-badge {
  transform: rotate(45deg); /* Rotate the badge */
  margin-top: 45px !important;
  margin-right: -79px !important;
  background-color: #FF007F;
  color: #fff;
}

@media (width > 1023px) and (width < 1200px) {
    
}
@media (width > 1200px) and (width < 1440px) {
   
  .pln-card-bd:hover{
    /* background-color: #ff007e; */
    /* background-color: #00A6A5 !important; */
    color: #fff;
  }
}

@media (width > 1439px) and (width < 1537px) {
    
}
@media (width > 1919px) {
  /* .pln-card-bd .ani{

    background-color: red !important;
  } */
  /* .spcl-marginbottom{
    margin-bottom: 50px !important;
  } */
  .market-badge .MuiBadge-badge {
    transform: rotate(45deg); /* Rotate the badge */
    margin-top: 31px !important;
    margin-right: -195px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .scenario-badge .MuiBadge-badge {
    transform: rotate(45deg); /* Rotate the badge */
    margin-top: 31px !important;
    margin-right: -198px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .sku-badge .MuiBadge-badge {
    transform: rotate(45deg); /* Rotate the badge */
    margin-top: 31px !important;
    margin-right: -204px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .smartstock-badge .MuiBadge-badge {
    transform: rotate(45deg); /* Rotate the badge */
    margin-top: 31px !important;
    margin-right: -156px !important;
    background-color: #FF007F;
    color: #fff;
  }
  .systamatic-badge .MuiBadge-badge {
    transform: rotate(45deg); /* Rotate the badge */
    margin-top: 45px !important;
    margin-right: -172px !important;
    background-color: #FF007F;
    color: #fff;
  }
}