.pln-cards-header{
    border-radius: 5px 5px;
    background-color:#466072 ;
    padding: 5px 10px 5px 16px;
  }
  .eye-icon{
    height: 10px;
    width: 10px;
  }

  .aw-body{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    border-radius: 5px 5px;
    margin-block: 4%;
    padding: 6px 12px 9px 16px;
    background-color: #fff;
    cursor:  pointer;
  }
  .btn-aw{
    background-color:#6FCF97;
    border-radius: 20px 20px;
    color: #fff;
    border: 1px solid #6FCF97;
    font-size: 11px;
  }
  .pln-card-bd{
    
    padding:20px 10px 20px 10px ;
    border-radius: 5px 5px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin-block: 5%;
    cursor: pointer;
  
    
  }
  .pln-card-bd:hover{
    background-color: #ff007e;
    color: #fff;
  }
  .pln-cards-cnt{
    display: flex;
    align-items: center;
  }
  .square-icon{
    width: 25px;
    height: 25px;
  }
  
  .pln-card-bd22{
    display: flex;
    border-radius: 5px 5px;
    background-color: #fff;
    align-items: center;
    padding:12px 8px 11px 8px ;
    cursor: pointer;
  
  }
  .pln-card-bd22:hover{
    background-color: #ff007e;
    color: #fff;
  }
  
  .pln-card-bd42{
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px;
    background-color: #fff;
    align-items: center;
    padding:20px 10px 20px 10px ;
    cursor: pointer;
    /* background-color: #ff007e; */
    /* color: #fff; */
  
  }
  .pln-card-bd42:hover {
    background-color: #ff007e;
    color: #fff;
  }

  .airwikElectric .logoutSpace {
    margin-top: 425px !important;
  }