.btn-export:hover{
    background-color: #FF007E;
 }
 
 
 
 .kpi-box{
  border:2px solid white;
  border-radius: 5px;
  background-color: white;
  color: #415A6C;
  text-align: center;
  height: 60px;
  padding: 6px 0px 0px 0px;
}


 

 
 
   .btn-export{
     /* height: 30px; */
     padding: 3px 8px 6px 10px;
     border-radius: 5px 5px;
     cursor: pointer;
 
     
 
   }
 
 
  