.sa-boxbtn:hover{
    background-color: #FF007E !important;

}


@media screen and (min-width: 1920px) {
   .breadcrumb-sabox{
    margin-top: 4px;
   }
    .srbr-btns{
        height: 30px !important;
        /* margin-top: 1px !important; */

    }
    .srbr-btns:hover{
        background-color: #FF007E !important;


    }
    .srbr-btnshvr{
        height: 30px !important;
        /* margin-top: 15px !important; */
        

    }
    .srbr-btnshvr:hover{
        background-color: #FF007E !important;
       
        

    }
   
    .css-y8ay40-MuiTableCell-root {
        font-size: 14px  !important;
        font-weight: 100 !important;
        /* line-height: 16px; */
    }
 .safilter-title{
    font-size: 26px !important;
    border-radius: 5px;
    background-color: #415A6C;
    color: white;
    width: 170px;
    justify-content: center;
    text-align: center;
} 


.bg-container{
    background-color: #F5F6F8;
    padding: 20px !important;
    height: 889px !important ;
   }

   .bread-crumb{
    margin-top: -5px !important;
   }

   .sr-h11{
    font-size: 18px !important;
    width: 120px !important;
    /* line-height: 16px; */
   }
   .sr-supplyrealocate1{
    font-size: 18px !important;
   }
  

   

.sa-title{
    font-size: 32px !important;
}

.sa-stack{
    display: flex   !important;
    justify-self: center !important;
    align-self: center !important;
    /* justify-content: center !important; */
    align-items: center !important;

}

.sa-box{
    /* width: 215px !important; */
    padding: 0px 16px;
    height: 63px !important;
    background-color: white;
    border-radius: 5px!important;
    text-align: center !important;
    align-items: center;
    display: block;
    align-self: center !important;
    justify-content: center !important;
}
.sa-h1{
    font-size: 15px !important;
    margin-top: 10px !important;
    color: #415A6C;
}
.sa-h2{
    font-size: 14px !important;
}
.sa-boxbtn{
    margin-top: 25px;
    width: 160px !important;
    height: 30px !important;
    font-size: 14px;
    /* background-color: palevioletred !important; */
    text-align: center !important;
    align-items: center;
    display: flex;
    align-self: center !important;
    justify-content: center !important;
    border-radius: 5px;
    background-color: #415A6C;
    color: white;
    /* border: 1.2px solid #415A6C; */
    line-height: 16px;
    cursor: pointer;
}

.btn-refresh{
    /* size: 10px !important; */
    font-size: 20px !important;
    margin-left: 10px !important;
    margin-top: 3px;
}
.btn-download{
    font-size: 20px !important;
    margin-left: 10px !important;
}













.sg-main{
    /* margin-top: 10px !important; */
    justify-content: end !important;
}
.sg-title{
    border-radius: 5px;
    background-color: rgb(198 223 215);
    padding: 2px 8px !important;
    font-size: 14px;
    color: black;
    height: 22px !important;
}
.radibtn-left{
    margin-top: 3px;
    margin-left: -10px;

}
.radiobtn-right{
      margin-top: 5px;
      margin-left: 10px;
}


.radiobtn-title{
    /* margin-top: 2px !important; */
    margin-left: 3px !important;
    margin-right: 15px !important;
}


.optimistarion-box{
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: -12px;
}


.stable-header{
    background-color: #E5EBEF !important;
    color:#415A6C !important;
    border:1px solid #dcdcdc !important;
    padding: 5px 2px !important;
    text-align: center !important;
    line-height: 16px !important;
}

/* .s-row1 td{
    padding: 5px !important;  
}
.s-row2 td{
    padding: 5px !important;  
} */




}