

@media (width > 1200px) and (width < 1440px) {
    .bread-crumb{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
       }
    .safilter-title{
        /* font: 64px/60px 'Open Sans', sans-serif; */
        font-size: 16px !important;
        border-radius: 5px;
        background-color: #415A6C;
        color: white;
        width: 120px;
        justify-content: center;
        text-align: center;
        /* margin: auto!important ; */
        margin-block: 5px !important;
    }
    .safilter-minititle{
        font-size: 22px !important;
        color: #415A6C;
        font-weight: 500 !important;
        margin-block: 10px !important;
    
    }
    tr:nth-child(odd) {
        height: 65px !important;
    }

    .sr-h1{
        width: 75px !important;
        /* line-height: 13px !important; */
    }

    .css-y8ay40-MuiTableCell-root {
        /* font-size: 0.72rem  !important; */
        /* font-size: 8px; */
        /* font-weight: 100 !important; */
        /* line-height: 16px; */
    }
    .css-1ex1afd-MuiTableCell-root {
        padding: 0px !important;
        text-align: center !important;
        font-size: 0.7rem !important;
    }
    
.sa-box{
    /* background-color: red !important; */
    width: 160px !important;
    height: 55px !important;
    background-color: white;
    border-radius: 5px!important;
    text-align: center !important;
    align-items: center;
    display: block;
    align-self: center !important;
    justify-content: center !important;
    
   


}
.sa-h1{
    font-size: 14px !important;
    margin-top: 5px !important;
}
.sa-h2{
    font-size: 14px !important;
}
.sa-boxbtn{
    margin-top: 23px;
    width: 170px !important;
    height: 28px !important;
    /* padding: 4px !important; */
    font-size: 12px;
    /* background-color: palevioletred !important; */
    text-align: center !important;
    align-items: center;
    display: flex;
    align-self: center !important;
    justify-content: center !important;
    border-radius: 5px;
    background-color: #415A6C;
    color: #F5F6F8;
    border: 1.2px solid #415A6C;
    cursor: pointer;
}
.btn-refresh{
    size: 10px !important;
    font-size: 16px !important;
    margin-left: 5px !important;
    margin-top: 3px;
}
.btn-download{
    size: 10px !important;
    font-size: 16px !important;
    margin-left: 8px !important;
    margin-top: 3px;
}
.btn-submit{
    size: 10px !important;
    font-size: 16px !important;
    margin-left: 10px !important;
    margin-top: 2px;
}

}

@media screen and (min-width: 1920px) {
   .breadcrumb-sabox{
    margin-top: 4px;
   }
    .srbr-btns{
        height: 30px !important;
        /* margin-top: 1px !important; */

    }
    .srbr-btns:hover{
        background-color: #FF007E !important;


    }
    .srbr-btnshvr{
        height: 30px !important;
        /* margin-top: 15px !important; */
        

    }
    .srbr-btnshvr:hover{
        background-color: #FF007E !important;
       
        

    }
   
    .css-y8ay40-MuiTableCell-root {
        font-size: 14px  !important;
        font-weight: 100 !important;
        /* line-height: 16px; */
    }
 .safilter-title{
    font-size: 26px !important;
    border-radius: 5px;
    background-color: #415A6C;
    color: white;
    width: 170px;
    justify-content: center;
    text-align: center;
} 


.bg-container{
    background-color: #F5F6F8;
    padding: 20px !important;
    height: 889px !important ;
   }

   .bread-crumb{
    margin-top: -5px !important;
    /* margin-bottom: 10px !important; */
   }

   .sr-h11{
    font-size: 18px !important;
    width: 120px !important;
    /* line-height: 16px; */
   }
   .sr-supplyrealocate1{
    font-size: 18px !important;
   }
   /* .css-1ex1afd-MuiTableCell-root {
      text-align: center !important;
      width: 20px !important;
      font-size: 13px !important;
   } */

   

/* .stockReallocation tr:nth-child(odd) {
    height: 60px !important;
} */
.sa-title{
    font-size: 32px !important;
}

.sa-stack{
    display: flex   !important;
    justify-self: center !important;
    align-self: center !important;
    /* justify-content: center !important; */
    align-items: center !important;

}

.sa-box{
    /* width: 215px !important; */
    padding: 0px 16px;
    height: 63px !important;
    background-color: white;
    border-radius: 5px!important;
    text-align: center !important;
    align-items: center;
    display: block;
    align-self: center !important;
    justify-content: center !important;
}
.sa-h1{
    font-size: 15px !important;
    margin-top: 10px !important;
    color: #415A6C;
}
.sa-h2{
    font-size: 14px !important;
}
.sa-boxbtn{
    margin-top: 25px;
    width: 140px !important;
    height: 30px !important;
    font-size: 14px;
    /* background-color: palevioletred !important; */
    text-align: center !important;
    align-items: center;
    display: flex;
    align-self: center !important;
    justify-content: center !important;
    border-radius: 5px;
    background-color: #415A6C;
    color: white;
    border: 1.2px solid #415A6C;
    line-height: 16px;
    cursor: pointer;
}

.btn-refresh{
    /* size: 10px !important; */
    font-size: 20px !important;
    margin-left: 10px !important;
    margin-top: 3px;
}
.btn-download{
    font-size: 20px !important;
    margin-left: 10px !important;
}


.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 1.2375em !important;
}






.constains-h1{
    color: #415A6C !important;
    font-size: 15px !important;
}

.vertical-line{
    border: 1px solid #E5EBEF;
    height: 73px;
    margin-left: 40px;
    margin-right: 40px;
}

.vertical-line2{
    border: 1px solid #E5EBEF;
    height: 73px;
    margin-left: 25px;
    margin-right: 40px;
}

.constains-innerbox{
    width: 70%;
    background-color: white;
    border-radius: 5px;
    padding:  10px 20px ;
}

.sg-main{
    /* margin-top: 10px !important; */
    justify-content: end !important;
}
.sg-title{
    border-radius: 5px;
    background-color: rgb(198 223 215);
    padding: 2px 8px !important;
    font-size: 14px;
    color: black;
    height: 22px !important;
}
.radibtn-left{
    margin-top: 3px;
    margin-left: -10px;

}
.radiobtn-right{
      margin-top: 5px;
      margin-left: 10px;
}


.radiobtn-title{
    /* margin-top: 2px !important; */
    margin-left: 3px !important;
    margin-right: 15px !important;
}


.optimistarion-box{
    /* border: 1px solid; */
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: -12px;
}


.stable-header{
    background-color: #E5EBEF !important;
    color:#415A6C !important;
    border:1px solid #dcdcdc !important;
    padding: 5px 2px !important;
    text-align: center !important;
    line-height: 16px !important;
}




}